.siteBody {
  padding-left: 50px;
  padding-right: 55px;
  margin-bottom: 0px;
}
/*login*/
#displayHere{
  background: #15273a;
  color: #ff8f29;
  padding-left: 50px;
}
.welcome{
}
/* header / navigation bar */
#header {
  background: #15273a;
}
.navbar{
  max-height: 100px;
  min-height: 100px;
}
#airlineSign {
  color: #ff8f29;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3.5px;
  margin-right: 75px;
}

.navigation {
  text-align: right;
}
.navigation {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  margin-right: 12px;
}
.nav-item:hover{
   color: #ff8f29;
}
/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #15273a;
  min-width: 160px;
  z-index: 1;
  text-align: left;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#dropbtn {
  background-color: #15273a;
  border-style: none;
}
#dropbtn:hover {
 color: #ff8f29;
}
/*log in*/
#Login{
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
  margin-right: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  text-align: right;
  color: white
}
#Login:hover {
  color: #ff8f29;
}
.PopLogin{
  display: none;
 border: solid #ff8f29;
 background-color: #ff8f29;
}
.loginBtn{
background-color: #15273a;
color: white;
border: none;
padding: 15px 15px 10px 15px;
}
.CloseBtn{
  background-color: red;
  color: white;
  border: none;
  padding: 15px 15px 10px 15px;
}
.PopLogin input[type=text], .PopLogin input[type=password] {
  width: 25%;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: none;
  background: #f1f1f1;
}

/*arrow stuff*/
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid  #15273a;
}
/*table Style*/
th, td{
  padding: 4px;
}

/*forms*/
.form-control{
  width: 25%;
}
.Submit{
  padding: 20px;
  color: white;
  background-color: #15273a;
  text-decoration: none;
  border: none;
}
.Submit:hover{
  background-color: #ff8f29;
}
.FrequentFlyers{
}
input[list]{
    padding: 10px;
}
/*footer*/
.footerContainer{
  font-family: 'Ubuntu', sans-serif;
  padding: 2px 10px 10px 10px;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #15273a;
  Color: white;
}
.socialMedia{
  text-align: left;
  padding-left: 50px;
}
.credits{
  text-align: right;
  padding-right: 50px;
}
.sources{
  font-family: 'Ubuntu', sans-serif;
  padding: 2px 10px 10px 10px;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #15273a;
  Color: white;
}

/* link */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8f29;
}
/*
.Destination:link {
  color: black;
  text-decoration: none;
}
.Destination:visited {
  color: black;
  text-decoration: none;
}
.Destination:hover {
  color: #ff8f29;
}
*/
.SocialLink:link {
  color: white;
  text-decoration: none;
  padding-right: 5px;
}
.SocialLink:visited {
  color: white;
  text-decoration: none;
}
.SocialLink:hover {
  color: #ff8f29;
}
/*[CREDITS AND SOURCES]*/
.creditBody{
  text-align: center;
}
.creditLink{
color: black;
text-decoration: none;
}
.creditLink:link {
  color: black;
  text-decoration: none;
  padding-right: 5px;
}
.creditLink:visited {
  color: #15273a;
  text-decoration: none;
}
.creditLink:hover {
  color: #15273a;
}
